<!DOCTYPE HTML>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="main.css">
</head>
<body>
    <footer class="footer">
        <div class="first-section">
            <div class="footer-top">
                <div class="take-quiz-container">
                    <div>
                        <h2 class="first">Take the quiz now!</h2>
                        <h3 class="second"><span>Get to defining your </span><strong>dealbreakers</strong><span> today with engaging results in </span><strong>seconds</strong><span> from us to you.</span></h3>
                    </div>
                    <a href="/survey" class="take-quiz">
                        <span class="label">Take Quiz</span>
                    </a>
                </div>
            </div>
        </div>
        <div class="second-section">
            <div class="container">
            <div style="text-align: left;" class="row">
                <!-- For assistance with boostrap grid structure to make the layout work on mobile also: https://getbootstrap.com/docs/4.0/layout/grid/, Accessed March 12, 2024 -->
                <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
                    <h5 style="font-style: italic;" class="text-uppercase">What's our goal?</h5>
                    <p>
                        In an era of increasingly fast-paced dating dynamics, navigating the early stages of getting to know a potential partner has its complexities.
                        Early Days' mission is to guide users through an engaging process to indentify personal relationship dealbreakers and preferences.
                    </p>
                </div>
                <!-- all icons from Fonts Awesome -->
                <div style="text-align: left;" class="col">
                    <h5 style="font-style: italic;" class="text-uppercase">Contact</h5>
                    <ul class="list-unstyled mb-0">
                    <li>
                        <a href="mailto:noreply.earlydays@gmail.com" target="_blank"><i class="fa fa-envelope"></i> Send us an email!</a>
                    </li>
                    <li>
                        <a href="#" target="_blank"><i class="fa-brands fa-x-twitter"></i> @earlydays</a>
                    </li>
                    <li>
                        <a href="https://www.instagram.com/_earlydays_?utm_source=ig_web_button_share_sheet&igsh=ZDNlZDc0MzIxNw==" target="_blank"><i class="fa fa-instagram"></i> @_earlydays_</a>
                    </li>
                    </ul>
                 </div>
                 <div style="text-align: left;" class="col">
                    <h5 style="font-style: italic;" class="text-uppercase">Links</h5>
                    <ul class="list-unstyled mb-0">
                    <li>
                        <a href="/" ><i class="fa-solid fa-house"></i> Home</a>
                    </li>
                    <li>
                        <a href="/login"><i class="fa fa-sign-in"></i> Login</a>
                    </li>
                    <li>
                        <a href="/signup"><i class="fa fa-user-plus"></i> Join</a>
                    </li>
                    </ul>
                 </div>
                </div>
              </div>
            </div>
    </footer>
</body>
</html>
