<!DOCTYPE HTML>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="main.css">
</head>
<body>
    <footer class="footer">
        <div class="first-section">
            <div class="footer-top">
                <div>
                    <h2 class="first">Take the quiz now!</h2>
                    <h3 class="second"><span>Get to defining your </span><strong>dealbreakers</strong><span> today with engaging results in </span><strong>seconds</strong><span> from us to you.</span></h3>
                </div>
                <a href="/survey" class="take-quiz">
                    <span class="label">Take Quiz</span>
                </a>
            </div>
        </div>
        <div class="second-section">
            <div class="col">
                <div class="bold">Navigation</div>
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/login">Login</a></li>
                    <li><a href="/signup">Join</a></li>
                </ul>
            </div>
            <div class="col">
                <div class="bold">Contact</div>
                <ul>
                    <li><a href="mailto:saoirseodonovan13@gmail.com" target="_blank"><i class="fa fa-envelope"></i> earlydaysinfo@gmail.com</a></li>
                    <li><a href="#" target="_blank"><i class="fa fa-twitter"></i> @earlydays</a></li>
                    <li><a href="https://www.instagram.com/_earlydays_?utm_source=ig_web_button_share_sheet&igsh=ZDNlZDc0MzIxNw==" target="_blank"><i class="fa fa-instagram"></i> @_earlydays_</a></li>
                </ul>
            </div>
            <div class="col">
                <div class="bold">About Us</div>
                <ul>
                    <li><a href="/#mission">Our mission</a></li>
                    <li><a href="/#team">Meet the team</a></li>
                    <li><a href="/#intro">Getting started</a></li>
                </ul>
            </div>
        </div>
    </footer>
</body>
</html>
