{% extends "base.html" %} {% block title %}Early Days | Breakdown {% endblock %} {% block content_MAIN %}
<style>
    body {
        background-color: white;
    }
</style>
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <script src="https://kit.fontawesome.com/43c0c699ca.js" crossorigin="anonymous"></script>
    </head>
    <body>
        <div style="padding-top: 20px;padding-bottom: 10px;">
        <h1 class="text-center">Clustering and graphing still to come...</h1>
        </div>
</div>

{% endblock %}