{% extends "base.html" %} {% block title %}Early Days | Breakdown {% endblock %} {% block content_MAIN %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <script src="https://kit.fontawesome.com/43c0c699ca.js" crossorigin="anonymous"></script>
    </head>
    <body>
        <div style="padding-top: 40px;padding-bottom: 10px;">
            <div class="title-container" id="titles" style="display: flex; justify-content: center; padding-bottom: 20px;">
                <img style="width: 625px; height: 225px;" src="{{ url_for('static', filename='images/quiz_summary.png') }}" alt="title1">
            </div>
        </div>
        
        <div style="padding-top: 20px;padding-bottom: 10px;text-align: center;">
            {% for i in range(ans|length) %}
            <div style="text-align: left;">
                <p>Your Answer: {{ ans[i] }}</p>
            </div>
                <!-- For assistance with displaying Base64 images in HTML: https://stackoverflow.com/questions/8499633/how-to-display-base64-images-in-html Accessed 25 January, 2024. -->
                <div class="title-container" id="titles" style="display: flex; justify-content: center; padding-bottom: 20px;">
                    <img class="mobile-img" src="data:image/png;base64,{{ image_data[i] }}" alt="Graph">
                </div>
            {% endfor %}
        </div>
    </body>
</html>


{% include "footer.html" %}
{% endblock %}


