{% extends "base.html" %} {% block title %}Early Days | Compatibility Assessment {% endblock %} {% block content_MAIN %}
<style>
    body {
        background-color: white;
    }
</style>
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <script src="https://kit.fontawesome.com/43c0c699ca.js" crossorigin="anonymous"></script>
    </head>
    <body>
        <div style="padding-top: 20px;padding-bottom: 10px;">
        <h1 class="text-center">Compatibility Assessment</h1>
        <h2 class="text-center">Enter the username of the person you'd like to assess your compatibility with below!</h2>
        <form method="post" action="{{ url_for('views.scoring') }}">
            <div class="form-group">
                <label for="selected_username">Username:</label>
                <input type="text" class="form-control" id="selected_username" name="selected_username" placeholder="Username" required/>
            </div>
            <button type="submit">Generate Compatibility Score</button>
        </form>
        </div>
</div>

{% endblock %}