{% extends "base.html" %} {% block title %}Early Days | Compatibility Assessment{% endblock %} {% block content_MAIN %}
<!-- For the values infographic: https://codepen.io/MarkBoots/pen/Yzadapq Accessed March 18, 2024. -->
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <script src="https://kit.fontawesome.com/43c0c699ca.js" crossorigin="anonymous"></script>
        <style>
            .center-container {
                display: flex;
                flex-direction: column;
                align-items: center;
                padding-bottom: 40px;
            }
        </style>
    </head>
    <body style="padding-top: 40px;">
        <div class="title-container" id="titles" style="display: flex; justify-content: center; padding-bottom: 20px;">
            <img style="width: 625px; height: 225px;" src="{{ url_for('static', filename='images/comp_assess.png') }}" alt="title2">
        </div>
        <div>
            <h3>It's time to assess your compatibility with a user of your choice!</h3>
            <h3 style="padding-bottom: 20px;">Begin by entering the username of the person you'd like to test your compatibility with. To get an overall score, click the <strong>Generate Overall Compatibility Score</strong> button, or select a particular category of values and click the <strong>Generate Category Compatibility Score</strong> button.</h3>
        <ol>
            <li style="--color: #660000">
              <div class="fa-icon"><i class="fa-solid fa-baby" style="color: #000000;"></i></div>
              <div class="top-text">Family and Loyalty</div>
              <div class="text">Valuing family and loyalty encompasses a deep care for strong relationships built upon trust. Maintaining upheld integirty amid all of lifes hardships and hurdles.</div>
            </li>
            <li style="--color: #E6AAB3">
              <div class="fa-icon"><i class="fa-solid fa-tree-city" style="color: #000000;"></i></div>
              <div class="top-text">Lifestyle and Habits</div>
              <div class="text">Valuing lifestyle and habits suggest a love for leisure and routine for overall well-being and personal growth, where such growth could be mental or physical.</div>
            </li>
            <li style="--color: #8BACA0">
              <div class="fa-icon"><i class="fa-solid fa-person-harassing" style="color: #000000;"></i></div>
              <div class="top-text">Communication and Behaviour</div>
              <div class="text">Valuing communication and behaviour involves active listening and self expression as well as demonstarting kindness.</div>
            </li>
            <li style="--color: #253B28">
              <div class="fa-icon"><i class="fa-solid fa-book-bookmark" style="color: #000000;"></i></div>
              <div class="top-text">Education and Expectations</div>
              <div class="text">Valuing education and expectations encompasses an ambition for curiosity fuelled academic growth and goals to strive for.</div>
            </li>
          </ol>
    <div class="center-container">
        <form method="post" action="{{ url_for('views.scoring') }}">
            <div class="form-group">
                <label for="selected_username">Username:</label>
                <input type="text" class="form-control" id="selected_username" name="selected_username" placeholder="Username" required/>
                <button type="submit">Generate Overall Compatibility Score</button>
            </div>
            <div class="form-group">
                <label for="value">Choose a category below to see how compatible you are in relation to certain values: </label><br>
                <input type="checkbox" id="family_and_loyalty" name="value" value="Family and Loyalty">
                <label for="family_and_loyalty">Family and Loyalty</label><br>
                <input type="checkbox" id="lifestyle_and_habits" name="value" value="Lifestyle and Habits">
                <label for="lifestyle_and_habits">Lifestyle and Habits</label><br>
                <input type="checkbox" id="communication_and_behaviour" name="value" value="Communication and Behaviour">
                <label for="communication_and_behaviour">Communication and Behaviour</label><br>
                <input type="checkbox" id="educational_background" name="value" value="Educational Background">
                <label for="educational_background">Educational Background and Expectations</label><br>
            </div>
            <button type="submit">Generate Category Compatibility Score</button>
        </form>
    </div>
            <div class="center-container">
                {% if compatibility_score is defined %}
                    <span class="circle {% if compatibility_score >= 70 %}colourOne{% elif compatibility_score >= 50 %}colourTwo{% elif compatibility_score >= 30 %}colourThree{% elif compatibility_score >= 10 %}colourFour{% else %}colourFive{% endif %}">
                        <span>{{ compatibility_score }}%</span>
                    </span>
                    <div id="score_results">
                        {% if compatibility_score < 10 %}
                                <h3>Your compatibility score is <strong>very low</strong>.</h3>
                                <p>This score suggests that you and {{ selected_username }} are not very compatible.</p>
                                <p>But who said that opposites don't attract? Perhaps with some flexibility and an open mind, your differing outlooks on dealbreakers could become negotiable or some great converstaion staters!</p>
                            {% elif compatibility_score < 20 %}
                                <h3>Your compatibility score is <strong>low</strong>.</h3>
                                <p>This score suggests that you and {{ selected_username }} have low compatibility.</p>
                                <p>But who said that opposites don't attract? Perhaps with some flexibility and an open mind, your differing outlooks on dealbreakers could become negotiable or some great converstaion staters!</p>
                            {% elif compatibility_score < 30 %}
                                <h3>Your compatibility score is <strong>moderate</strong>.</h3>
                                <p>This score suggests that you and {{ selected_username }} are moderately compatibile.</p>
                                <p>Seems like there are some commonalities and differences here! Is this the perfect happy medium? Perhaps with some compromise, your differing outlooks on dealbreakers could become the perfect balance between growth and comfort!</p>
                            {% elif compatibility_score < 50 %}
                                <h3>Your compatibility score is <strong>good</strong>.</h3>
                                <p>This score suggests that you and {{ selected_username }} are very compatibile.</p>
                                <p>Seems like this pairing shows promise! If common ground and a solid foundation is what you're looking for, you've found it. Your outlooks on dealbreakers seem to allign mostly which suggests that you both share common values!</p>
                            {% else %}
                                <h3>Your compatibility score is <strong>excellent</strong>.</h3>
                                <p>This score suggests that you and {{ selected_username }} are super compatibile.</p>
                                <p>Congratulations! It doesn't get any better than this! Your outlooks on dealbreakers seem to allign very well which suggests that you both share a lot of commonalities, particularly in your values and perceptions!</p>
                            {% endif %}
                    </div>
                {% endif %}
            </div>
        </div>
    </body>
    </html>
{% include "footer.html" %}
{% endblock %}