<!-- For assistance with radio input type in survey.html: https://www.w3schools.com/tags/att_input_type_radio.asp Accessed December 17, 2023. -->
{% extends "base.html" %} {% block title %}Early Days | Category {% endblock %} {% block content_MAIN %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Survey</title>
</head>
<body>
    <div style="padding-top: 20px;padding-bottom: 10px;">
    <form action="/process_survey" method="post">
        <div class="question">
 
            <div style="padding-bottom: 20px;">
              <h2 style="color: black">Is it a dealbreaker if: </h2>
            </div>
        {% for question in questions %}
            <p>{{ question }}</p>
            <label><input type="radio" name="{{ question }}" value="Yes"> Yes</label>
            <label><input type="radio" name="{{ question }}" value="No"> No</label>
            <label><input type="radio" name="{{ question }}" value="Not sure"> Not sure</label>
            <label><input type="radio" name="{{ question }}" value="Indifferent"> Indifferent</label>
            <br>
        {% endfor %}
        <button type="submit">Submit</button>
    </form>
</div>
</body>
</html>

{% endblock %}
