{% extends "base.html" %} {% block title %}Early Days | Types {% endblock %} {% block content_MAIN %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Lover Types</title>
</head>
<body>
    <div style="padding-top: 40px;padding-bottom: 10px;">
        <div class="title-container" id="titles" style="display: flex; justify-content: center; padding-bottom: 20px;">
            <img style="width: 625px; height: 225px;" src="{{ url_for('static', filename='images/lover_types.png') }}" alt="title3">
        </div>
    <div>
        <img id="type-right" src="{{ url_for('static', filename='images/type9.png') }}" alt="type9">
    </div>
        <div>
        <h3 id="h3-left">The Stringent Lover</h3>
        <p id="p-left">
            This suggests that you have very strong preferences with little flexibility when it comes to your relationship dealbreakers.
            
            You gave very straight-forward, definite responses which shows that you are aware of exactly what you're looking for in a romantic partner.
            This may mean that you have expectations for your partner that you are not willing to deviate from, such standards could make the search for your ideal partner a more rigorous experience yet it is likely that with all of your preferences met, the relationship will be immensely fulfilling.
            It is possible that you may also tend to hold yourself to a high standard which is why you have such strong dealbreakers. 
            You may also possess qualities such as being head-strong, stubborn, motivated, ambitious, and confident.
            You want your partner to take good care of themselves, to maintain a specific lifestyle that alligns with your own and to value independence and will power to the same degree as you do.
        </p>
    </div>
    <div>
        <div>
            <img id="type-left" src="{{ url_for('static', filename='images/type6.png') }}" alt="type6">
        </div>
    <h3 id="h3-right">The Adaptable Lover</h3>
    <p id="p-right">
        This suggests that you have very varied preferences with some flexibility when it comes to your relationship dealbreakers.
        
        You gave very varied, uncertain responses which shows that you may not know exactly what you're looking for in a romantic partner.
        This may mean that you have expectations for your partner yet you are willing to deviate from them at times, this could make the search for your ideal partner a more fluid experience where you may be more forgiving when a potential partner does not mathch your exact preferences.
        It is possible that you may have a very carefree attitute when it comes to dating. 
        You may also possess qualities such as being open-minded, gentle, forgiving, understanding, and adaptive.
        You want your partner to be themselves and getting to know them is important to you before you decide entirely on what is a strong dealbreaker to you.
        Searching for your ideal partner and meeting different people could aid you in further defining what preferences you do and don't have.
    </p>
    </div>
    <div>
        <div>
            <img id="type-right" src="{{ url_for('static', filename='images/type1.png') }}" alt="type1">
        </div>
    <h3 id="h3-left">The Balanced Lover</h3>
    <p id="p-left">
        This suggests that you have very clear preferences with some flexibility when it comes to your relationship dealbreakers.
        
        You gave relatively clear responses which shows that you are generally aware of what you're looking for in a romantic partner.
        Those who fall into this category also tend to have an element of flexibility in some of their responses.  
        This may mean that you are willing to compromise in very specific circumstances when it comes to your partner, this could make the search for your ideal partner a more fluid experience where you may be more forgiving when a potential partner does not match your exact preferences immediatley. 
        You may also possess qualities such as being open-minded, understanding, confident, and decisive.
        Those that fall into this category tend to prefer a parter who is open to discussions and conversations surrounding differing preferences considering your strong preferences.
        This mix between knowing exactly what you like yet also having a willingness to compromise is an attractive combination for the majority of individuals seeking a romantic partnership.
    </p>
    </div>
    <div>
        <div>
            <img id="type-left" src="{{ url_for('static', filename='images/type2.png') }}" alt="type2">
        </div>
    <h3 id="h3-right">The Unbiased Lover</h3>
    <p id="p-right">
        This suggests that you have very mixed preferences with an element of uncertainy when it comes to your relationship dealbreakers.
        
        You gave relatively varied responses with a potential hint of uncertainty in your exact preferences.
        Those who fall into this category also do not consistently tend to have an element of flexibility in their responses.  
        This may mean that you are more likely to assess each potential partner individually, this could make the search for your ideal partner more random yet you will learn an immense amount about yourself and your limits in your preferences. Overall resulting in a lot of personal growth!
        You may also possess qualities such as being open-minded, analytical, adaptive, and thoughtful.
        Those that fall into this category may have more of a thoughtful stance considering the swaying of answers between the different options at times, with strong opinions and areas of indifference.
    </p>
    </div>
    <div>
        <div>
            <img id="type-right" src="{{ url_for('static', filename='images/type7.png') }}" alt="type7">
        </div>
    <h3 id="h3-left">The Uniform Lover</h3>
    <p id="p-left">
        This suggests that you have very strong preferences with some elements of indifference when it comes to your relationship dealbreakers.
        
        You gave relatively clear responses which shows that you are generally aware of what you're looking for in a romantic partner.
        Those who fall into this category also tend to have an element of indifference in some of their responses.  
        This may mean that you are willing to compromise in very specific circumstances when it comes to your partner, this could make the search for your ideal partner a more fluid experience where you may be more casual when a potential partner does not match your exact preferences. 
        You may also possess qualities such as being open-minded, understanding, confident, and carefree.
        Those that fall into this category tend to take on a more value-based decisiveness, this means that particular values will be upheld while other dealbreakers may be negotiable.
        This mix between knowing exactly what you like yet also having a willingness to take on a casual outlook when differences occur, is an attractive combination for the majority of individuals seeking a romantic partnership.
    </p>
    </div>
    <div>
        <div>
            <img id="type-left" src="{{ url_for('static', filename='images/type3.png') }}" alt="type3">
        </div>
    <h3 id="h3-right">The Neutral Lover</h3>
    <p id="p-right">
        This suggests that you have varied preferences with some elements of uncertainty when it comes to your relationship dealbreakers.
        
        You gave a wide variety of responses which shows that you are generally not committed to many specific preferences of what you're looking for in a romantic partner.
        Those who fall into this category also tend to have an element of uncertainty in some of their responses.  
        This may mean that you are willing to adapt your preferences in very specific circumstances when it comes to your partner, this could make the search for your ideal partner a more fluid experience where you may be more open-minded when a potential partner does not match your exact preferences. 
        You may also possess qualities such as being open-minded, adaptive, unbiased, and carefree.
        Those that fall into this category also tend to prefer a parter who is open to discussions and conversations surrounding differing preferences since there is a overall openess when considering key relationship factors. 
        This mix between knowing what you like yet also having a willingness to take on a casual outlook when differences occur is an attractive combination for the majority of individuals seeking a romantic partnership.
    </p>
    </div>
    <div>
        <div>
            <img id="type-right" src="{{ url_for('static', filename='images/type8.png') }}" alt="type8">
        </div>
    <h3 id="h3-left">The Diverse Lover</h3>
    <p id="p-left">
        This suggests that you have very strong preferences with some elements of indifference when it comes to your relationship dealbreakers.
        
        You gave very varied, sometimes indifferent responses which shows that you are aware of exactly what you're looking for in a romantic partner yet you may prefer to assess preferences situationally. 
        Those who fall into this category also tend to have an element of versatility in their responses.  
        This may mean that you are willing to adapt your preferences in very specific circumstances when it comes to your partner, this could make the search for your ideal partner a more fluid experience where you may be more open-minded when a potential partner does not match your exact preferences. 
        You may also possess qualities such as being open-minded, adaptive, unbiased, and pragmatic.
        Those that fall into this category also tend to prefer a parter who is open to discussions and conversations surrounding differing preferences since there is a overall expanded tolerance when considering key relationship factors. 
        You might not be the most flexible with your preferences yet your fairness when considering what you like and also having a willingness to take on a pragmatic outlook when differences occur, is an attractive combination for the majority of individuals seeking a romantic partnership. This will allow for you to observe a relationship realistically without adhering to idealistic perceptions. 
    </p>
    </div> 
    <div>
        <div>
            <img id="type-left" src="{{ url_for('static', filename='images/type4.png') }}" alt="type4">
        </div>
    <h3 id="h3-right">The Flexible Lover</h3>
    <p id="p-right">
        This suggests that you have very clear preferences with some elements of indifference when it comes to your relationship dealbreakers.
        
        You gave relatively clear responses which shows that you are generally aware of what you're looking for in a romantic partner.
        Those who fall into this category also tend to have an element of indifference in some of their responses.  
        This may mean that you are willing to compromise in very specific circumstances when it comes to your partner, this could make the search for your ideal partner a more fluid experience where you may be more flexible when a potential partner does not match your exact preferences. 
        You may also possess qualities such as being open-minded, understanding, confident, and carefree.
        Those that fall into this category tend to take on a more balanced approach to their decisiveness, this means that particular values will be upheld while other dealbreakers may be negotiable.
        This mix between knowing exactly what you like and upholding those firm opinions, yet also having a willingness to take on a relaxed outlook when differences occur is an attractive combination for the majority of individuals seeking a romantic partnership.
    </p>
    </div>
    <div>
        <div>
            <img id="type-right" src="{{ url_for('static', filename='images/type5.png') }}" alt="type5">
        </div>
    <h3 id="h3-left">The Rigorous Lover</h3>
    <p id="p-left">
        This suggests that you have very clear preferences with an elements of flexibility when it comes to your relationship dealbreakers.
        
        You gave relatively clear responses which shows that you are generally aware of what you're looking for in a romantic partner.
        Those who fall into this category can really be from either end of the spectrum. You have very firm preferences yet you might also tend to be more forgiving when it comes to some mismatched preferences.  
        This may mean that you are willing to compromise in very specific circumstances when it comes to your partner, this could make the search for your ideal partner a more fluid experience where you may be more flexible when a potential partner does not match your exact preferences. 
        You may also possess qualities such as being head-strong, stubborn, confident, and pragmatic.
        Those that fall into this category tend to take on a more stringent approach to their decisiveness, this means that you know what your preferences are and you will stick by them.
        This mix between knowing exactly what you like and upholding those firm opinions, yet also having a willingness to take on a balanced outlook when differences occur is an attractive combination for the majority of individuals seeking a romantic partnership.
    </p>
</div>
</div>
</body>
</html>

{% include "footer.html" %}
{% endblock %}