body {
    font-family: "Open Sans", sans-serif;
    background-color: white;
    margin: 0;
    padding: 0; 
    margin-top: 6em;
    color: #333333;
}

  .navbar-nav .nav-item.nav-link {
    font-family: "Open Sans", sans-serif;
    color: #4B494A;
    font-size: 17px;
    font-weight: 550;
    margin-right: 10px;
    margin-left: 10px;
}

  .navbar-nav .nav-item.nav-link:hover {
    color: black;
  }

  .navbar-nav ul{
    list-style-type: none;
    overflow: hidden;
  }

  .navbar-nav ul li{
    float: left;
    
  }

  .navbar-nav ul li a{
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

.banner {
    position: fixed;
    top: 80px;
    width: 100%;
    background-color: #7DAC9B;
    color: #283D2A;
    text-align: center;
    padding: 10px 0;
    white-space: nowrap;
    overflow: hidden;
    font-weight: 600;
    z-index: 1000;
}

/* For assistance with key frames for banner loop animation: https://stackoverflow.com/questions/66618076/css-keyframe-translatex-and-rotatey-on-both-ends Accessed March 24, 2024. */

.banner span {
  display: inline-block;
  animation: move 60s linear infinite;
}

@keyframes move {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

.center-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* For assistance with circle: https://stackoverflow.com/questions/4861224/how-to-use-css-to-surround-a-number-with-a-circle Accessed 22 January, 2024. */

.circle {
    font-family: "Open Sans", sans-serif;
    color: white;
    text-align: center;
    line-height: 0px;
    border-radius: 50%;
    font-size: 100px;
    min-width: 300px;
    min-height: 300px;
}

.circle span {
    display: inline-block;
    padding: 50% 1px;
}

.colourOne {
    background: #7DAC9B;
}
.colourTwo {
    background: #283D2A;
}
.colourThree {
    background: #EDB6C0;
}
.colourFour {
    background: #C83252;
}
.colourFive {
    background: #660000;
}

#type-left {
  float: left;
  width: 250px;
  height: 250px;
  padding: 10px;
  padding-right: 15px;
}
#type-right {
  float: right;
  width: 250px;
  height: 250px;
  padding: 10px;
  padding-left: 15px;
}
#h3-left {
  text-align: left;
  padding: 5px;
}
#h3-right {
  text-align: right;
  padding: 5px;
}
#p-left {
  text-align: left;
  padding: 10px;
}
#p-right {
  text-align: right;
  padding: 10px;
}

#custom-logo {
  width: 58px;
  height: 58px;
  margin-left: 1em;
}

.logout-button {
  color: #E6AAB3 !important;
  margin-left: auto;
}

.footer {
  font-family: "Open Sans", sans-serif;
  display: block;
  width: 100%;
  position: relative;
  padding: 30px;
  background: #FFF7F9;
  border-top-left-radius: 17px;
  border-top-right-radius: 17px;
  margin-top: 6em;
}

.footer-top {
  font-family: "Open Sans", sans-serif;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #7DAC9B;
  border-radius: 17px;
  padding: 20px;
  position: relative;
  top: -70px;
  margin-bottom: -50px;
}

.footer .second-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  color: #4B494A;
  margin-bottom: 10px;
}

.footer strong {
  font-style: italic;
}

.col {
  width: 100%;
  text-align: center;
  margin-bottom: 20px;
}

.take-quiz-container {
  display: flex;
  align-items: center;
}

a.take-quiz {
  background-color: white;
  border: none;
  border-radius: 36px;
  color: #283D2A;
  padding: 10px 30px;
  text-align: center;
  font-weight: 800;
  font-size: 22px;
  margin: 5px 40px;
  text-decoration: none;
  cursor: pointer;
  text-transform: uppercase;
}

h3.second {
  font-size: 22px;
  font-weight: 400;
  color: #fff;
}

.second span{
  opacity: 0.5;
}

h3.second strong {
  font-weight: 700;
}

ul, ul > li {
  list-style: none;
  line-height: 2.0em;
}

a:hover {
  color: #121212;
  text-decoration: unset;
}

ul > li > a {
  color:#121212;
  text-decoration: unset;
}

.first {
  font-size: 30px;
  font-weight: 700;
  color: #283D2A;
}

.footer .col {
  width: 100%;
  font-size: 16px;
  margin-left: 3em;
}

.footer .col .bold {
  text-align: justify;
  font-weight: 700;
  font-size: 25px;
  margin-bottom: 0.5em;
  margin-left: 1.2em;
}

.navbar-toggler{
  margin-right: 0.5em;
  filter: invert(100%);
}

.container-move {
  display: flex;
  align-items: center;
}

.article-move {
  flex: 1;
  padding: 0 20px;
}

#introduction {
  font-size: 17.5px;
}

#top {
  padding-top: 30px;
}

.radio-buttons {
  border: 2px solid #BBB9B9;
  border-radius: 8px;
  margin-bottom: 25px;
  display: block;
  flex-direction: column;
  padding: 20px;
}

.radio-buttons label {
  margin-bottom: 5px;
  display: block;
}

button {
  background-color: #4B494A;
  border: none;
  border-radius: 36px;
  color: white;
  padding: 15px 30px;
  text-align: center;
  font-weight: 700;
  font-size: 20px;
  margin: 4px 2px;
  opacity: 1;
  transition: 1s;
  display: inline-block;
  cursor: pointer;
  text-transform: uppercase;
}

button:hover {
  opacity: 0.8;
}

input[type='radio'] {
  accent-color: #7DAC9B;
}

#score_results {
  text-align: center;
  padding-top: 30px;
}

#score_results h3 {
  padding: 20px;
}

#gif1 {
  flex: 1;
  max-width: 100%;
}

.statement-section {
  text-align: center;
  font-style: italic;
  padding: 20px 0;
}

.image-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 15px;
}

.image-container img {
  width: calc(33.33% - 30px);
  box-sizing: border-box;
  padding: 5px;
}

.image-container-2 {
  display: flex;
  flex-wrap: wrap;
}

.hero {
  padding-top: 80px;
  padding-bottom: 50px;
}

.image-container-2 img {
  width: 50%;
  box-sizing: border-box;
}

#custom {
  width: 950px;
  height: 550px;
}

#custom-2 {
  width: 300px;
  height: 550px;
}

#btn{
  color: #121212;
  border: none;
  margin: 0;
  padding: 0;
  padding-left: 10px;
  background-color: transparent;
}

ol {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(192px, 1fr));
  gap: 16px;
  width: min(1280px, calc(100% - 32px));
  margin-inline: auto;
  padding-block: 16px;
  list-style: none;
  counter-reset: count;
}

ol > li {
  margin: 20px;
  margin-top: 20px;
  border-radius: 8px;
  padding-block: 24px;
  padding-inline: 16px;
  color: #0F0F0F;
  background-color: #FFF7F9;
  box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.5);
  position: relative;
  counter-increment: count;
  border: 2px solid #030303;
}

ol > li::after{
  content: counter(count, decimal-leading-zero);
  position: absolute;
  bottom: 100%;
  color: var(--color);
  font-weight: 800;
  font-size: 48px;
  line-height: 1;
}
ol > li::before{
  content: "";
  position: absolute;
  width: calc(100% + (12px * 2));
  height: 100%;
  bottom: calc(12px * -1);
  left: calc(12px * -1);
  z-index: -1;
  border-radius: 20px;
  background-color: gainsboro;
  background-image: 
    linear-gradient(to left, gainsboro 24px, transparent 0),
    linear-gradient(135deg, var(--color) 80%, gainsboro 0);   
}

.fa-icon{
  font-size: 42px;
  text-align: center;
  margin-bottom: 24px;
}

.top-text {
  text-transform: uppercase;
  text-align: center;
  color: black;
  font-weight: 700;
}

.text {
  color: black;
  font-size: 12px;
  text-align: center;
}

.new-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.left-section, .right-section {
    width: calc(50% - 20px);
    margin-right: 20px;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: auto;
  overflow: hidden;
}

.top-section {
  padding-top: 100px;
  display: flex;
}

.top-section-2 {
  padding-top: 10px;
  display: flex;
}

.text-section-match, .image-section {
  width: 50%;
}

.text-section-match {
  padding: 40px;
  padding-top: 30px;
}

.text-section-match h1 {
  font-size: 24px;
  font-weight: bold;
}

.text-section-match p {
  font-size: 16px;
}

.text-section-match button {
  background-color: #030303;
  color: white;
  padding: 20px 20px;
  border: none;
  cursor: pointer;
  text-transform: uppercase;
}

.button_overall {
  padding-top: 20px;
}

.text-section, .image-section {
  width: 50%;
}

.text-section {
  padding: 40px;
  padding-top: 100px;
}

.text-section h1 {
  font-size: 24px;
  font-weight: bold;
}

.text-section p {
  font-size: 16px;
}

.text-section button {
  background-color: #030303;
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  text-transform: uppercase;
}

.image-section img {
  width: 100%;
  height: auto;
}

.types {
  width: 275px;
  height: 40px;
}

@media (max-width: 600px) {
  .image-container img {
    width: 100%;
  }

  .container-move {
    flex-direction: column;
  }

  .article-move,
  #gif1 {
    width: 100%;
  }

  .footer {
    padding: 20px;
  }

  .footer .second-section {
    margin-left: 0;
    margin-right: 0;
  }

  .col {
    margin-left: 0;
    margin-right: 0;
  }

  .take-quiz-container {
    flex-direction: column;
    align-items: center;
  }

  .navbar-nav ul li a{
    flex-direction: column;
    text-align: left;
  }

  .left-section, .right-section {
    width: 100%;
    margin-right: 0;
  }

  .title-container img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
  }

  .top-section {
    /* for vertical stcaking */
    flex-direction: column;
  }

  .top-section-2 {
    /* for vertical stcaking */
    flex-direction: column;
  }

  .text-section-match {
    width: 100%;
    padding: 0 20px;
    padding: 0 20px;
    padding-bottom: 20px;
  }

  .image-section, .text-section {
    width: 100%;
    padding: 0 20px;
  }

  .text-section {
    padding: 0 20px;
    padding-bottom: 20px;
  }

  .image-section img {
    max-width: 100%;
    height: auto;
    margin-bottom: 20px;
  }
}
