body {
    font-family: "Open Sans", sans-serif;
    /* font-family: Arial, sans-serif; */
    background-color: white;
    margin: 0;
    padding: 0; 
    margin-top: 6em;
}

.navbar {
    background-color: #660000;
  }

  .navbar-nav .nav-item.nav-link {
    font-family: "Open Sans", sans-serif;
    /* font-family: Arial, sans-serif; */
    color: #EDB6C0;
    font-size: 17px;
    font-weight: 550;
    margin-right: 10px;
    margin-left: 10px;
}

  .navbar-nav .nav-item.nav-link:hover {
    color: #fff;
  }

  .navbar-nav ul{
    list-style-type: none;
    overflow: hidden;
  }

  .navbar-nav ul li{
    float: left;
    
  }

  .navbar-nav ul li a{
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

  .center-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* For assistance with circle: https://stackoverflow.com/questions/4861224/how-to-use-css-to-surround-a-number-with-a-circle Accessed 22 January, 2024. */

.circle {
    font-family: "Open Sans", sans-serif;
    color: white;
    text-align: center;
    line-height: 0px;
    border-radius: 50%;
    font-size: 80px;
    min-width: 200px;
    min-height: 200px;
}

.circle span {
    display: inline-block;
    padding: 50% 1px;
}

.colourOne {
    background: #7DAC9B;
}
.colourTwo {
    background: #283D2A;
}
.colourThree {
    background: #EDB6C0;
}
.colourFour {
    background: #C83252;
}
.colourFive {
    background: #660000;
}

#type-left {
  float: left;
  width: 250px;
  height: 250px;
  padding: 10px;
  padding-right: 15px;
}
#type-right {
  float: right;
  width: 250px;
  height: 250px;
  padding: 10px;
  padding-left: 15px;
}
#h3-left {
  text-align: left;
  padding: 5px;
}
#h3-right {
  text-align: right;
  padding: 5px;
}
#p-left {
  text-align: left;
  padding: 10px;
}
#p-right {
  text-align: right;
  padding: 10px;
}

#custom-logo {
  width: 58px;
  height: 58px;
  margin-left: 1em;
}

.footer {
  display: block;
  width: 100%;
  position: relative;
  padding: 30px;
  background: #EDB6C0;
  border-top-left-radius: 17px;
  border-top-right-radius: 17px;
  margin-top: 6em;
}

.footer-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #660000;
  border-radius: 17px;
  padding: 20px;
  position: relative;
  top: -70px;
  margin-bottom: -50px;
}

.footer .second-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  color: #fff;
  margin-bottom: 10px;
}

.col {
  width: 100%;
  text-align: center;
  margin-bottom: 20px;
}

.take-quiz-container {
  display: flex;
  align-items: center;
}

a.take-quiz {
  background-color: white;
  border: none;
  border-radius: 36px;
  color: #660000;
  padding: 10px 30px;
  text-align: center;
  font-weight: 800;
  font-size: 22px;
  margin: 5px 40px;
  text-decoration: none;
  cursor: pointer;
}

h3.second {
  font-size: 22px;
  font-weight: 400;
  color: #fff;
}

.second span{
  opacity: 0.5;
}

h3.second strong {
  font-weight: 700;
}

ul, ul > li {
  list-style: none;
  line-height: 2.0em;
}

a:hover {
  color: #660000;
  text-decoration: unset;
}

ul > li > a {
  color:#fff;
  text-decoration: unset;
}

.first {
  font-size: 30px;
  font-weight: 700;
  color: #fff;
}

.footer .col {
  width: 100%;
  font-size: 16px;
  margin-left: 3em;
}

.footer .col .bold {
  text-align: justify;
  font-weight: 700;
  font-size: 25px;
  margin-bottom: 0.5em;
  margin-left: 1.2em;
}

.navbar-toggler{
  margin-right: 0.5em;
}

.container-move {
  display: flex;
  align-items: center;
}

.article-move {
  flex: 1;
  padding: 0 20px;
}

#introduction {
  font-size: 17.5px;
}

#top {
  padding-top: 30px;
}

.radio-buttons {
  border: 2px solid #BBB9B9;
  border-radius: 8px;
  margin-bottom: 25px;
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.radio-buttons label {
  margin-bottom: 5px;
}

button {
  background-color: #660000;
  border: none;
  border-radius: 36px;
  color: white;
  padding: 15px 30px;
  text-align: center;
  font-weight: 700;
  font-size: 20px;
  margin: 4px 2px;
  opacity: 1;
  transition: 1s;
  display: inline-block;
  cursor: pointer;
}

button:hover {
  opacity: 0.8;
}

input[type='radio'] {
  accent-color: #660000;
}

#score_results {
  text-align: center;
  padding-top: 30px;
}

#score_results h3 {
  padding: 20px;
}

#gif1 {
  flex: 1;
  max-width: 100%;
}

.image-container {
  display: flex;
  flex-wrap: wrap;
}

.image-container img {
  width: 33.33%;
  box-sizing: border-box;
  padding: 5px;
}

.image-container-2 {
  display: flex;
  flex-wrap: wrap;
}

.hero {
  padding-top: 80px;
  padding-bottom: 50px;
}

.image-container-2 img {
  width: 50%;
  box-sizing: border-box;
}

#custom {
  width: 950px;
  height: 550px;
}

#custom-2 {
  width: 300px;
  height: 550px;
}

#btn{
  color: #121212;
  border: none;
  margin: 0;
  padding: 0;
  padding-left: 10px;
  background-color: transparent;
}

@media (max-width: 600px) {
  .image-container img {
    width: 100%;
  }

  .container-move {
    flex-direction: column;
  }

  .article-move,
  #gif1 {
    width: 100%;
  }

  .footer {
    padding: 20px;
  }

  .footer .second-section {
    margin-left: 0;
    margin-right: 0;
  }

  .col {
    margin-left: 0;
    margin-right: 0;
  }

  .take-quiz-container {
    flex-direction: column;
    align-items: center;
  }

  .navbar-nav ul li a{
    flex-direction: column;
    text-align: left;
  }
}
